<p id="notice"><%= notice %></p>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @user.post_code %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @user.self_introduction %>
</p>
