<tr>
  <td><%= report.title %></td>
  <td><%= report.body %></td>
  <td><%= report.user.name.blank? ? report.user.email : report.user.name %></td>
  <td><%= l report.created_at, format: :date %></td>
  <td><%= link_to t('views.common.show'), report %></td>
  <% if report.user == current_user %>
    <td><%= link_to t('views.common.edit'), edit_report_path(report) %></td>
    <td><%= link_to t('views.common.destroy'), report, method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
  <% end %>
</tr>
