<h1><%= Report.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:body) %></th>
      <th><%= Report.human_attribute_name(:posted_by) %></th>
      <th><%= t('reports.posted.posted_at_date') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <%= render 'detail_record', report: report %>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>

<br>

<%= link_to t('views.common.new'), new_report_path %>
