<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<table>
  <thead>
    <tr>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:body) %></th>
      <th><%= Report.human_attribute_name(:posted_by) %></th>
      <th><%= t('reports.posted.posted_at_date') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'detail_record', report: @report %>
  </tbody>
</table>

<h1><%= t('comments.show.title', commentable: Report.model_name.human) %></h1>
<%= render 'comments/form', commentable: @report, comment: @report.comments.build %>

<table>
  <thead>
    <tr>
      <th><%= t('comments.show.table_column_body') %></th>
      <th><%= t('comments.show.table_column_user_name') %></th>
      <th><%= t('comments.show.table_column_posted_at') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user.name.blank? ? comment.user.email : comment.user.name %></td>
        <td><%= comment.created_at.strftime(t('time.formats.long')) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
